 html, body {
    width: 100%;
    overflow-x: hidden;
  
}

 body{

	width: 100%;
	height: 100vh;
	margin: 0;
	color: white;
	text-shadow: 1px 1px #000000;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	background-color:black;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg.jpg);
	/*background-image: url(../img/bg.jpg);*/
	/*background-position: 10% 10%;*/
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;


}
.container{
	width: 100%;
	margin: auto;
	padding: 0;
}
.content{
	clear: both;
	border-top: 1px solid #ccc;
	margin: 80px 0px 0px 0px;
	width: 100%
	
}
.content:after {
   content: '';
   clear: both;
   display: block;
}
.main {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
    height: 97vh;
	padding: 20px 40px 20px 40px;
	
}

.header{
	margin: 15px 0 0 0;
}
.logo {
	margin: -10px 10px 0 0;
	/*width: 50px;*/
	float: left;

}
.title{
	margin: -10px 0px 0 0;
	color: #fff; /* Green */
	text-shadow: 0px 0px #4CAF50;
	font-weight: bold;
	font-size: 2.5em;
	float: left;


}
.headline{
	position: relative;
	z-index: 1;
	font-size: 1.3em;
	text-align: left;
	
	font-weight: bold;
}
.donateToday{

	margin-right: 15px;
}
.paragraph{
	text-align: left;
	font-size: 1.2em;
	
	font-weight: bold;

}
.donate{
	float: right;
}
.donateMenu{
	margin: 0px;
	padding: 0px;

}
donateNav {

	/*position: static;*/
}

donateNav ul {
   padding:0;
   margin:0;
   list-style: none;
   position: relative;
   }

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
donateNav ul ul {
   display: none;
   position: absolute;
   top: 100%;
   right: 0%;
   float: right;
}

/* Positioning the navigation items inline */
donateNav ul li {
   margin: 0px;
   display:inline-block;
   /*float: left;*/
   background-color: #E64A19;
   }

/* Display Dropdowns on Hover */
donateNav ul li:hover > ul {
   display:inline-block;
   position: absolute;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Fisrt Tier Dropdown */
donateNav ul ul li {
   min-width: 10px;
   padding: 10px 10px 10px 10px;
   float:none;
   display:list-item;
   position: relative;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.subscribe {
	width: 50%;
	float: left;
}
.w80{
	text-align: center;
	margin: 0 5% 0 5%;


}
.subscribe2 {
	margin-top: 15px;
	text-align: center;
	width: 50%;
	float: left;
}
.subForm{
	margin: 0 0 0 0;
	width: 100%;
	/*background-color: #ccc;	*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	height: 100%;
}
h1 {
	padding: 10px 0 0 0;

}
.subFormInput{
	width: 90%;
	height: 25px;
	margin: 10px 0 10px 0;
}
.subFormSubmit{
	float: right;
	margin-right: 4.5%;

}
.formInputGroup{
	text-align: left;
	margin-left: 4.5%;
}

.textarea{
	height: 100px;

}

.footer {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	clear: both;
	position: relative;
	width: 100%;
	padding: 0px 40px 0px 40px;
	/*margin: 0 0 0 0;*/
	bottom: 20px;
	float: left;
	display: inline-block;
}
.address {
	clear: both;
	float: left;
	width: 33%;
	
}
.social{
	/*clear: both;*/
	text-align: center;
	margin: auto;
	float: left;
	width: 33%;
}
.builtBy{
	float: right;
}